<h2>$<%= @loan.display_max_home_amount %></h2>
<p>$<%= "#{@loan.display_loan_amount}" %> loan amount with $<%= "#{@loan.display_downpayment_amount}" %> downpayment</p>
<p>You reported annual income of $<%= "#{@loan.display_annual_gross_income}" %> and monthly debt of $<%= "#{@loan.display_monthly_debt}" %></p><br>
