<h1>Get Pre-Approved </h1>

<h2>Enter a few details and get pre-approved for your mortgage in just minutes</h2>


<%= form_for @loan do |f| %>

  <%= f.label :state %>
  <%= f.text_field :state %><br>

  <%= f.label :fico %>
  <%= f.text_field :fico %><br>

  <%= f.label :annual_gross_income %>
  <%= f.text_field :annual_gross_income %><br>

  <%= f.label :monthly_debt %>
  <%= f.text_field :monthly_debt %><br>

  <%= label_tag :downpayment %>
  <%= text_field_tag :downpayment %><br>

  <%= f.submit 'Get pre-approved' %>

<% end %>