<div class='home'>

<h1>Get Pre-Approved </h1>
<h2>Enter a few details and get pre-approved for your mortgage in just minutes</h2>
<div class='container form_container'>
  <%= form_for @loan do |f|%>

  <div class='row form_field' data-container="body" data-toggle="popover" data-placement="right" data-content="Which state is your home in?" data-original-title="" title="" data-trigger="hover" rel='popover' >
    <%= f.label :state, class: 'col-xs-8' %>
    <%= f.text_field :state, class: 'col-xs-4 '  %>
    <br>
  </div>

  <div class='row form_field' data-container="body" data-toggle="popover" data-placement="right" data-content="What is your FICO credit score?" data-original-title="" title="" data-trigger="hover" rel='popover' >
    <%= f.label :credit_score, class: 'col-xs-8' %>
    <%= f.text_field :fico, class: 'col-xs-4' %>
    <br>
  </div>

  <%= render partial: 'form_inputs', locals: {loan: @loan, f: f} %>

  <%= f.submit 'Get pre-approved', class: "btn btn-default" %>

  <% end %>

</div>

</div>