<h1>Congratulations!</h1><br>
<h2>You have been pre-approved</h2><br>

<p>The maximum loan you qualify for is:</p>
<h2>$<%= @loan.display_max_home_amount %></h2>

<p>The more money you put down, the larger the house you can purchase.</p>
<p>Change your downpayment to see how your your loan amount changes.</p>

<div class='container form_container'>
  <%= form_for @loan do |f|%>

  <div class='row form_field' data-container="body" data-toggle="popover" data-placement="right" data-content="How much are you planning to pay down?" data-original-title="" title="" data-trigger="hover" rel='popover' >
    <%= f.label :downpayment, class: 'col-xs-8' %>
    <%= f.text_field :downpayment_amount, value: "$#{@loan.display_downpayment_amount}", class: 'col-xs-4'%>
    <br>
  </div>

  <p>To Receive your Pre-Approval Letter, enter your full name and e-mail address below:</p><br>

    <div class='row form_field' data-container="body" data-toggle="popover" data-placement="right" data-content="Please enter your first and last name" data-original-title="" title="" data-trigger="hover" rel='popover' >
      <%= f.label :full_name, class: 'col-xs-8' %>
      <%= f.text_field :full_name, class: 'col-xs-4 '  %>
      <br>
    </div>

    <div class='row form_field' data-container="body" data-toggle="popover" data-placement="right" data-content="Please enter your first and last name" data-original-title="" title="" data-trigger="hover" rel='popover' >
      <%= f.label :email, class: 'col-xs-8' %>
      <%= f.text_field :email, class: 'col-xs-4 '  %>
      <br>
    </div>

    <%= f.submit "Send me my pre-approval letter", class: "btn btn-default" %>
  <% end %>
</div>