<p>Congratulations you have been pre-approved!</p>

<p>The maximum loan you qualify for is <%= @loan.max_home_amount %></p>

<p>To Receive your Pre-Approval Letter, enter your full name and e-mail address below:</p>

<%= form_for @loan do |f|%>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.submit %>
<% end %>